parameters:
  level: max
  paths:
    - src
    - test/src
  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#.* should be contravariant with parameter .* \(object\) of method BluePsyduck\\MapperManager\\Mapper\\MapperInterface::map\(\)#'
    - '#.* should be contravariant with parameter .* \(FactorioItemBrowser\\Api\\Search\\Entity\\Result\\ResultInterface\) of method FactorioItemBrowser\\Api\\Search\\Serializer\\SerializerInterface::serialize\(\)#'

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
